@model CreateUpdateSensorViewModel

<div class="row mt-2">
    <div class="col-md-3">
        <h4><span class="form-row badge badge-pill badge-light text-secondary"> Creating sensor </span></h4>
    </div>
    <div class="col-md-1">
        <h5><span class="h5 badge badge-pill badge-warning"> Step 2: </span></h5>
    </div>
    <div class="col-md-6">
        <h4><span class="h5 badge badge-pill badge-info">Add sensor details for: <span class="dark-grey-text font-italic">@Model.ChoosenSensorModel</span> </span></h4>
    </div>
    <div class="col-md-2">
        <a asp-controller="Sensor" asp-action="RegisterIndex">
            @*<h4><span class="h5 btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Go Back</span></h4>*@
            <h4><span class="h5 badge badge-pill badge-primary"><i class="fas fa-arrow-left"></i> Go back</span></h4>
        </a>
    </div>
</div>
<hr />

<div class="mt-5">
    <partial name="_InputCreateSensorPartial" model="Model" />
</div>