

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 600px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }
</style>

<div id="map"></div>

@*add form with submit button to confirm coordinates for sensor registration*@
@*add asp-for in inputs*@
<div class="form-row">
    <div class="col-lg-3 form-control-lg">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="lat1">Latitude</span>
            </div>
            <input type="text" id="lat" class="form-control bg-warning" aria-describedby="lat1" readonly>
        </div>
    </div>
    <div class="col-lg-3 form-control-lg">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="lon1">Longitude</span>
            </div>
            <input type="text" id="lon" class="form-control bg-warning" aria-describedby="lon1" readonly>
        </div>
    </div>

    @*<p>
                Lat: <input type="text" readonly id='lat'>
                Lon: <input type="text" readonly id='lon'>
        </p>*@
</div>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbGBfxwfVNuXS1OY-O8qbuglmWIbkEC70&callback=initMap">
</script>
<script>
    let marker;

    function initMap() {
        //var sofiaCenterOfTheMap = { lat: 42.6977, lng: 23.3219 };
        const options_googlemaps = {
            minZoom: 4,
            zoom: 11,
            center: new google.maps.LatLng(42.6977, 23.3219), //sofia coords
            maxZoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            streetViewControl: false
        }

        const map = new google.maps.Map(document.getElementById('map'), options_googlemaps);

        // This event listener calls methods when the map is clicked.
        google.maps.event.addListener(map, 'click', function (event) {
            deleteMarker();
            addMarker(event.latLng, map);
        });
    }

    function addMarker(location, map) {

        $('#lat').val(location.lat().toFixed(5));
        $('#lon').val(location.lng().toFixed(5));

        marker = new google.maps.Marker({
            position: location,
            map: map,
            title: 'My sensor address',
            animation: google.maps.Animation.BOUNCE
        });
    }

    function deleteMarker() {
        if (marker) {
            if (marker.getMap() !== null) {
                marker.setMap(null)
            }
        }
    }
</script>
