@model IcbSensorTypesViewModel
@{
    ViewData["Title"] = "RegisterIndex";
}
<div class="row mt-2">
    <div class="col-md-2">
        <h4><span class="form-row badge badge-pill badge-light text-secondary"> Creating sensor </span></h4>
    </div>

    <div class="col-md-2">
        <h4><span class="h5 badge badge-pill badge-warning"> Step 1: </span></h4>
    </div>
    <div class="col-md-4">
        <h4><span class="h5 badge badge-pill badge-info"> Choose sensor type </span></h4>
    </div>
</div>
<hr />
<br />
<div>
    <div class="form-group w-auto">
        <select asp-for="@Model.MeasureTypeId" asp-items="Model.MeasureTypes"
                class="form-control-lg input text-monospace custom-select">
            <option selected value="">-- Select sensor type --</option>
        </select>
    </div>

    <div id="icbSensorsResults" class="form-group mt-5">
        <partial name="_IcbSensorsByTypeResult" model="@Model.IcbSensors" />
    </div>
</div>

<script>
    $(function () {
        $("#MeasureTypeId").change(function () {

            let typeId = $("#MeasureTypeId").val();
            let url = "@Url.Action("LoadSensorsByType", "Sensor")?measureTypeId=" + typeId;

            $("#icbSensorsResults").load(url);
        });
    })
</script>

