@model UsersPagingViewModel
@{
    ViewData["Title"] = "Users";
}

<h2 style="text-align:center">All users</h2>
<hr />

<div id="usersTable">
    <partial name="_UsersTablePartial" model="@Model" />
</div>

<script>
    function goToPageNumber(elem) {
        let selectedPage = $(elem).data('page-number');
        let url = "@Url.Action("Users", "UserManager")?page=" + selectedPage;
        $("#usersTable").load(url);
    }
</script>

@*@section Scripts {
    <script src="~/js/deleteUserModal.js"></script>
}*@