@model IcbSensorTypesViewModel
@{
    ViewData["Title"] = "RegisterIndex";
}
<div class="row">
    <div class="col-md-2">
        <h4><span class="form-row badge badge-pill badge-light text-secondary"> Creating sensor </span></h4>
    </div>

    <div class="col-md-2">
        <h4><span class="h5 badge badge-pill badge-warning"> Step 1: </span></h4>
    </div>
    <div class="col-md-4">
        <h4><span class="h5 badge badge-pill badge-info"> Choose sensor type </span></h4>
    </div>
</div>

<br />
<div>
    <div class="form-group w-auto">
        <select asp-for="@Model.MeasureTypeId" asp-items="Model.MeasureTypes" class="form-control form-control-lg input text-success text-monospace">
            <option value="all">-- All --</option>
        </select>
    </div>

    <div id="icbSensorsResults" class="form-group">
        <partial name="_IcbSensorsByTypeResult" model="@Model.IcbSensors" />
    </div>
</div>

<script>
    $(function () {
        $("#MeasureTypeId").change(function () {
            let typeId = $("#MeasureTypeId").val();
            let url = "@Url.Action("LoadSensorsByType", "Sensor")?measureTypeId=" + typeId + '&userId=@Model.UserId';

            $("#icbSensorsResults").load(url);
        });
    })
</script>

