@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form class="text-center" method="post">
    <p class="h4 mb-4">Sign in</p>
    <div class="form-group">
        <input asp-for="Input.Username" class="form-control" placeholder="Username" />
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="Input.Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>


    <div class="custom-control custom-checkbox">
        <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="defaultUnchecked">
        <label asp-for="Input.RememberMe" class="custom-control-label" for="defaultUnchecked">
            Remember me?
        </label>
    </div>

    <button class="btn btn-deep-orange btn-block my-4" type="submit">Sign in</button>

    <p>
        Not a member?
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><b>Register</b></a>
    </p>
</form>
<div asp-validation-summary="All" class="text-danger"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
