@page
@model RegisterModel

@{
    ViewData["Title"] = "Sign up";
}

<form asp-route-returnUrl="@Model.ReturnUrl" class="text-center" method="post">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
        <div class="col">
            <div class="form-group">
                <input asp-for="Input.Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <!-- Last name -->
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-row mb-4">
        <div class="col">
            <div class="form-group">
                <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <small class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                </small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <small class="form-text text-muted mb-4">
                    Repeat your password again
                </small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="Input.AgreedGDPR" type="checkbox" class="custom-control-input" id="defaultUnchecked">
            <label asp-for="Input.AgreedGDPR" class="custom-control-label" for="defaultUnchecked">
                I agree to the <a data-toggle="modal" href="#termsModal">Terms and Conditions</a>.
            </label>
        </div>
    </div>
    <button class="btn btn-deep-orange my-4 btn-block" type="submit">Sign up</button>
</form>
<div asp-validation-summary="All" class="text-danger"></div>

<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center font-weight-bold" id="myModalLabel">Terms and Condiddtions</h4>
            </div>
            <div class="modal-body">
                <partial name="_TermsAndConditionsPartial" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-deep-orange btn-block" data-dismiss="modal"><h6 class="mt-2"><b>Close</b></h6></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
