@model InboxViewComponentModel

<li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle waves-effect" id="userDropdown"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="far fa-envelope"></i> Notifications
        <span id="unseen" class="badge badge-pill badge-primary">@Model.UnseenCount</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
        <li class="nav-link text-info text-center">
            <nav-item dropdown-item><span><small>Last 5 alarms</small></span></nav-item>
            <div class="dropdown-divider"></div>
        </li>
        @foreach (var notification in Model.Notifications)
        {
            <li class="nav-link">
                <nav-item dropdown-item>
                    <a asp-area="" asp-controller="Notification" asp-action="Inbox" @*asp-route-type="received" *@>
                        <span>@notification.Title</span>
                        <small class="text-danger">@notification.CreatedOn.ToShortDateString()</small>
                    </a>
                </nav-item>
                <div class="dropdown-divider"></div>
            </li>
        }
        <li class="nav-link">
            <a asp-area="" asp-controller="Notification" asp-action="Inbox" @*asp-route-type="received" *@>
                <span class="badge badge-warning badge-pill"> ...View all</span>
            </a>
        </li>
    </ul>
</li>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>