@{
    ViewData["Title"] = "About";
}
<!-- Card Dark -->
<div class="form-row">
    <div class="col-6">
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top"
                     src="~/images/dotnetcore.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!-- Card content -->
            <div class="card-body rounded-bottom">
                <!-- Title -->
                <h3 class="card-title text-center">Krasimir Etov</h3>
                <h5 class="card-title text-center">Full-Stack .NET Developer</h5>
                <hr class="hr-light">
                <div class="text-center">
                    <a href="https://github.com/KrasimirEtov">
                        <img src="~/images/githubBig.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top"
                     src="~/images/dotnetcore.jpg" alt="Card image cap">
                <a><div class="mask rgba-white-slight"></div></a>
            </div>
            <!-- Card content -->
            <div class="card-body rounded-bottom">
                <!-- Title -->
                <h3 class="card-title text-center">Ivan Kitukov</h3>
                <h5 class="card-title text-center">Full-Stack .NET Developer</h5>
                <hr class="hr-light">
                <div class="text-center">
                    <a href="https://github.com/imkitukov">
                        <img src="~/images/githubBig.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card Dark -->